{% extends 'base.html' %}
{% load static %}

{% block title %} Order Now! {% endblock%}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'pizza/order.css'%}">
{% endblock %}

{% block content %}
<h1>Order Pizza</h1>
<h2> {{ note }}</h2>

{% if pizza_pk %}
    <a href="{% url 'edit_order' pizza_pk %}">Edit Your Order!</a>
{% endif %}
<small>{{ pizza_pk }}</small>
<!-- enctype="multipart/form-data"  -->
<form action="{% url 'order'%}" method="POST">
    {% csrf_token %}
    {{ pizzaform }}
    <input type="submit" value="Order Pizza" class="btn btn-primary mt-2">
</form>
<br><br>
Want more than 1 Pizza?
<form action="{% url 'pizzas' %}" method="GET">
    {{ multi_form }}
    <input type="submit" value="Get Pizza" class="btn btn-primary mt-2">
</form>
{% endblock %}